default:
  consent:
    uri:
        scheme: '%%service.consent.uri.scheme%%'
        domain: '%%service.consent.uri.domain%%'
        path: '/v1/authorize?'
  aprofiel:
    uri:
      scheme: '%%service.aprofiel.uri.scheme%%'
      domain: '%%service.aprofiel.uri.domain%%'
      path: '/astad/aprofiel/v1'
    auth:
      response_type: 'code'
      service: 'AStad-AProfiel-v1'
      client_id:  '%%service.aprofiel.auth.client_id%%'
      client_secret:  '%%service.aprofiel.auth.client_secret%%'
      scope: 'astad.aprofiel.v1.username astad.aprofiel.v1.name astad.aprofiel.v1.avatar astad.aprofiel.v1.email astad.aprofiel.v1.phone'
      redirect_uri: '%%service.aprofiel.auth.redirect_uri%%'
  mprofiel:
    uri:
      scheme: '%%service.mprofiel.uri.scheme%%'
      domain: '%%service.mprofiel.uri.domain%%'
      path: '/astad/mprofiel/v1'
    auth:
      response_type: 'code'
      service: 'AStad-MProfiel-v1'
      client_id:  '%%service.mprofiel.auth.client_id%%'
      client_secret:  '%%service.mprofiel.auth.client_secret%%'
      scope: 'all'
      redirect_uri: '%%service.mprofiel.auth.redirect_uri%%' 