default:
  consent:
    url_authorize: %%service.consent.url_authorize%%
  aprofiel:
    oauth:
      response_type: code
      service: 'AStad-AProfiel-v1'
      client_id: %%service.aprofiel.oauth.client_id%%
      client_secret: %%service.aprofiel.oauth.client_secret%%
      scope: %%service.aprofiel.oauth.scope%%
      redirect_uri: %%service.aprofiel.oauth.redirect_uri%%
    api:
      scheme: %%service.oauth.api.scheme%%
      domain: %%service.oauth.api.domain%%
      path: %%service.oauth.api.path%%