<html>
  <head>
    <title><%- title %> - OAuth2 demo</title>
    <link rel="stylesheet" href="https://cdn.antwerpen.be/core_branding_scss/3.2.2/main.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h4>OAuth2 demo</h4>
