<html>

<head>
    <title>
        <%- title %> - OAuth2 demo
    </title>
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdn.antwerpen.be/core_branding_scss/2.0.2/main.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-2.2.1.min.js"></script>
</head>

<body>
    <h4>OAuth2 demo</h4>
    <h5 class="u-margin-top-xs">
        <%- title %>
    </h5>