<html>
  <head>
    <title><%- title %> - OAuth2 demo</title>
    <link rel="stylesheet" href="https://cdn.antwerpen.be/core_branding_scss/6.1.1/main.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.antwerpen.be/core_branding_favicons/citizens/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.antwerpen.be/core_branding_favicons/citizens/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.antwerpen.be/core_branding_favicons/citizens/favicon-16x16.png">
    <link rel="manifest" href="https://cdn.antwerpen.be/core_branding_favicons/citizens/site.webmanifest">
    <link rel="mask-icon" href="https://cdn.antwerpen.be/core_branding_favicons/citizens/safari-pinned-tab.svg" color="#cf0039">
    <meta name="msapplication-TileColor" content="#cf0039">
    <meta name="theme-color" content="#cf0039">
  </head>
  <body>
    <h1 class="h2">OAuth2 demo app</h1>
