<%- include('_header') -%>
<div class="m-alert m-alert--danger u-margin-top-xs u-margin-bottom-xs" style="padding: 1rem;">
  <h5><%- title %></h5><br/>
  Reference: <%- ref %>
</div>
<%- include('_footer') -%>
