<html>
<head>
    <script src="/js/jquery-2.2.1.min.js"></script>
    <script>
        $( document ).ready(function() {
            $('a').click(function(){
                var id = this.id;
                //var environment = id.split("-")[1];
                //document.cookie="environment=" + environment;
            });

        });
    </script>
</head>
<body>
<a href="<%- urlAProfiel %>">AProfiel</a> <br/>
<a href="<%- urlMProfiel %>">MProfiel</a> <br/>
</body>
</html>