<%- include('_header') -%>

    <p  class="u-margin-top-xs">
        <a id="login" href="<%- url %>" id="link">login otp</a>
    </p>
    <p  class="u-margin-top-xs">
    <label for="otp" >OTP code: </label>
    <input id="otp" name="otp" type="text"/>
    </p>
    <p  class="u-margin-top-xs">
    <label for="user" >User: </label>
    <input id="user" name="user" type="text"/>
    </p>
<script src="/script/otp.js"></script>

<%- include('_footer') -%>
